src/main/mule/mule-automation-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dffcfdb7-73b1-408d-87f3-7167932be8fe" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-automation-demo-flow" doc:id="9ea30d5f-23c8-4cc5-ba20-580422543164" >
		<http:listener doc:name="Listener" doc:id="d93b801d-9fb0-4207-9c41-7c0c051358f0" config-ref="HTTP_Listener_config" path="/mule/automation"/>
		<ee:transform doc:name="Transform Message" doc:id="5fe6cc2f-5c6b-4a03-96c9-e1146629045c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"message": "This is CI/CD demo"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ff634d84-4bf9-43b5-9300-61afde12c043" message="#[payload]"/>
	</flow>
</mule>
